# Python bytecode
__pycache__/
*.py[cod]

# macOS metadata
.DS_Store

# Environment files
.env
.venv/
env/
venv/

# VS Code settings
.vscode/

# Logs
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/
